#tasks{
    margin: auto;
    width: 300px;
    border: 2px solid red;
    padding: 20px;
    border-radius: 25px;
}
span{
    display: inline-block;
    width: 150px;
}
del{
    display: inline-block;
    width: 150px;
}
#add{
    margin-left: 20px;
}
    
    
